p.titulo {
background-color:beige;
font-weight: bold;
text-align: center;
}

main.verde {
    background-color: lawngreen;
   text-align: center;
}

div.naranja {
    background-color: orange;
}

h3.negrita {
    font-weight: bold;
}

span.sub {
    color: blueviolet;
    background-color: yellow;
    
}

pre.azul {
    background-color: blue;
    text-align: center;
}

span.video {
    block
    width: 600px;
    height: 450px;
}